<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <title>User page</title>
</head>

<body>
<div class="container align-content-center">
    <h2 class="text-center">User Page</h2>
    <div class="row align-items-center">
        <div class="col-lg-4 md-5 offset-4">
            <div>
                <table border="1">
                    <tr>
                        <th colspan="2">ID</th>
                        <th colspan="2">NAME</th>
                        <th colspan="2">SURNAME</th>
                        <th colspan="2">AGE</th>
                        <th colspan="3">PHONE</th>
                        <th colspan="2">USERNAME</th>
                    </tr>
                    <tr>
                        <td colspan="2" th:text="${user.id}">ID</td>
                        <td colspan="2" th:text="${user.name}">NAME</td>
                        <td colspan="2" th:text="${user.surname}">SURNAME</td>
                        <td colspan="2" th:text="${user.age}">AGE</td>
                        <td colspan="2" th:text="${user.phoneNumber}">PHONE</td>
                        <td colspan="2" th:text="${user.username}">USERNAME</td>
                    </tr>
                </table>
                <br/>
                <br/>
                <form th:action="@{/logout}">
                    <button type="hidden" value="logout" name="id"><i class="material-icons button edit">LOGOUT</i>
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>